@model StajSistemi.Models.ViewModels.ResetPasswordViewModel
<div class="container py-5">
    <div class="card p-4 shadow-sm border-0 rounded-4 mx-auto" style="max-width: 400px;">
        <h3 class="text-center">Yeni Şifre Belirle</h3>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" /><input type="hidden" asp-for="Email" />
            <input asp-for="Password" type="password" class="form-control mb-2 rounded-pill" placeholder="Yeni Şifre" />
            <input asp-for="ConfirmPassword" type="password" class="form-control mb-3 rounded-pill" placeholder="Şifre Tekrar" />
            <button type="submit" class="btn btn-success w-100 rounded-pill">Şifreyi Güncelle</button>
        </form>
    </div>
</div>